:root {
  /* From the Stanford Color Palette */
  --cardinal: #8c1515;
  --dark-red: #820000;
  --process-black: #2e2d29;
  --text-on-cardinal: #e3dfd5;
  --sandstone: #d2c295;
  --sandstone-paler: #e3dbc5;
  --sandstone-semi-trsp: rgba(210, 194, 149, .6);

  --90-grey: #43423E;

  --digital-blue: #006CB8;
  --digital-blue-light: #6FC3FF;

}

form, main {
  --background-color: #f6f6f6;

  --text-color: var(--process-black);
  --link-color: var(--dark-red);

  --selection-background: var(--sandstone-semi-trsp);

  --code-color: var(--text-color);

  --sidebar-background: var(--sandstone-paler);
  --sidebar-toggle-color: var(--cardinal);
  --sidebar-section-bullet-color: var(--dark-red);

  --instruction-border: var(--sandstone);
  --instruction-background: var(--sandstone-paler);
}

input#dark-mode:checked ~ main,
input#dark-mode:checked ~ form {
  --background-color: var(--process-black);

  --text-color: var(--text-on-cardinal);
  --link-color: var(--digital-blue-light);

  --selection-background: var(--sandstone-semi-trsp);

  --code-color: var(--process-black);

  --sidebar-background: var(--90-grey);
  --sidebar-toggle-color:  var(--digital-blue);
  --sidebar-section-bullet-color: var(--digital-blue-light);

  --instruction-border: var(--sandstone);
  --instruction-background: var(--90-grey);
}

img.dm-invert {
  transition: filter 0.3s ease-in-out;
}

input#dark-mode:checked ~ main img.dm-invert {
  filter: invert(1);
}
